html{
    font-family: 'Roboto';
}
main{
    display: flex;
    flex-direction: row-reverse;
}
#menu{
    padding: 15pt;
    box-sizing: border-box;
}
.inputs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.title{
    font-size: 20pt;
    padding-bottom: 10pt;
}